/**
* @name Simply_Darker
* @author Rockou_
* @description Darker theme for discord | Noto sans font | Still a Work In Progress
* @version 0.2.5.3
*/



/* Variables */

.toolbar-2bjZV7{
	/* this disables or enables the text formating helper because another plugin creates another menu for it / set - "none" to disable | "flex" to enable */
	--text_formatinghelper_variable_display_none_or_flex: none;
}
	/* this disables or enables the public server tab under the discord logo / set - "none" to disable | "flex" to enable */
#bd-pub-li {
	--public_server_bd_variable_display_none_or_flex: none;
}
	/* this disables or enables the sticker button / set - "none" to disable | "block" to enable */
.container-JHR0NT, .stickerButton-3OEgwj {
	--var_sticker_button_none_or_block: none;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* now font overwrite noto sans ftw */
:root {
	font-family: "Noto Sans", sans-serif;
	--font-primary: "Noto Sans", sans-serif !important;
	--font-display: "Noto Sans", sans-serif !important;
	--font-code: Consolas, "Noto Sans", sans-serif !important;
	--font-korean: "Noto Sans", sans-serif !important;
	--font-japanese: "Noto Sans", sans-serif !important;
	--font-chinese-simplified: "Noto Sans", sans-serif !important;
	--font-chinese-traditional: "Noto Sans", sans-serif !important;
}

:root {
/* root stuff */
	--header-primary: #fff;
	--header-secondary: rgb(185, 185, 185);
	--text-normal: rgb(220, 220, 220);
	--text-muted: rgb(175, 175, 175);
	--text-link: rgb(0, 175, 255);
	--channels-default: rgb(150, 150, 150);
	--interactive-normal: rgb(185, 185, 185);
	--interactive-hover: rgb(220, 220, 220);
	--interactive-active: rgb(255, 255, 255);
	--interactive-muted: rgb(85, 85, 85);
	--background-primary: rgb(20, 20, 20);
	--background-secondary: rgb(25, 25, 25);
	--background-secondary-alt: rgb(30, 30, 30);
	--background-tertiary: rgb(10, 10, 10);
	--background-accent: rgb(80, 80, 80);
	--background-floating: rgb(20, 20, 20);
	--background-mobile-primary: rgb(55, 55, 55);
	--background-mobile-secondary: rgb(50, 50, 50);
	--background-modifier-hover: rgb(40, 40, 40);
	--background-modifier-active: rgb(50,50,50);
	--background-modifier-selected: rgb(60,60,60);
	--background-modifier-accent: rgba(255, 255, 255, 0.06);
	--background-mentioned: rgba(250,166,26,0.05);
	--background-mentioned-hover: rgba(250,166,26,0.08);
	--background-message-hover: rgba(15,15,15,0.5);
	--background-help-warning: rgba(250,166,26,0.1);
	--background-help-info: rgba(0,176,244,0.1);
	--scrollbar-thin-thumb: rgb(70, 70, 70);
	--scrollbar-thin-track: transparent;
	--scrollbar-auto-thumb: rgb(70, 70, 70);
	--scrollbar-auto-track: rgb(10, 10, 10);
	--scrollbar-auto-scrollbar-color-thumb: rgb(80, 80, 80);
	--scrollbar-auto-scrollbar-color-track: rgb(40, 40, 40);
	--elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
	--elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
	--elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
	--elevation-high: 0 8px 16px rgba(0,0,0,0.24);
	--logo-primary: #fff;
	--focus-primary: #00b0f4;
	--radio-group-dot-foreground: #8ea1e1;
	--guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
	--channeltextarea-background: #40444b;
	--activity-card-background: #202225;
	--textbox-markdown-syntax: #8e9297;
	--deprecated-card-bg: rgba(32,34,37,0.6);
	--deprecated-card-editable-bg: rgba(32,34,37,0.3);
	--deprecated-store-bg: #36393f;
	--deprecated-quickswitcher-input-background: #72767d;
	--deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
	--deprecated-text-input-bg: rgba(0,0,0,0.1);
	--deprecated-text-input-border: rgba(0,0,0,0.3);
	--deprecated-text-input-border-hover: #040405;
	--deprecated-text-input-border-disabled: #202225;
	--deprecated-text-input-prefix: #dcddde;
/* cant remember */
	--bdfdb-blurple: var(--blurple, rgb(114, 137, 218));
/* something */
	--text-warning: #faa61a;
	--text-danger: #ed4245;
	--info-positive-background: rgba(59,165,92,0.1);
	--info-positive-foreground: #3ba55c;
	--info-warning-background: rgba(250,166,26,0.1);
	--info-warning-foreground: #faa61a;
	--info-danger-background: rgba(237,66,69,0.1);
	--info-danger-foreground: #ed4245;
	--status-positive-background: #3ba55c;
	--status-positive-text: #fff;
	--status-warning-background: #faa61a;
	--status-danger-background: #ed4245;
	--status-danger-text: #fff;
	--focus-primary: #00b0f4;
/* Brand experiment */
	--brand-experiment-100: #f7f7fe;
	--brand-experiment-130: #f0f1fe;
	--brand-experiment-160: #e7e9fd;
	--brand-experiment-200: #dee0fc;
	--brand-experiment-230: #d4d7fc;
	--brand-experiment-260: #c9cdfb;
	--brand-experiment-300: #bcc1fa;
	--brand-experiment-330: #a8aff8;
	--brand-experiment-360: #949cf7;
	--brand-experiment-400: #7984f5;
	--brand-experiment-430: #707bf4;
	--brand-experiment-460: #6571f3;
	--brand-experiment: #5865f2;
	--brand-experiment-500: #5865f2;
	--brand-experiment-530: #505cdc;
	--brand-experiment-560: #4752c4;
	--brand-experiment-600: #3c45a5;
	--brand-experiment-630: #343b8f;
	--brand-experiment-660: #2d347d;
	--brand-experiment-700: #232861;
	--brand-experiment-730: #21265b;
	--brand-experiment-760: #1e2353;
	--brand-experiment-800: #1a1e49;
	--brand-experiment-830: rgb(20, 23, 56);
	--brand-experiment-860: rgb(13, 15, 36);
	--brand-experiment-900: rgb(4, 5, 12);
	--brand-experiment-05a: rgba(88,101,242,0.05);
	--brand-experiment-10a: rgba(88,101,242,0.1);
	--brand-experiment-15a: rgba(88,101,242,0.15);
	--brand-experiment-20a: rgba(88,101,242,0.2);
	--brand-experiment-25a: rgba(88,101,242,0.25);
	--brand-experiment-30a: rgba(88,101,242,0.3);
	--brand-experiment-35a: rgba(88,101,242,0.35);
	--brand-experiment-40a: rgba(88,101,242,0.4);
	--brand-experiment-45a: rgba(88,101,242,0.45);
	--brand-experiment-50a: rgba(88,101,242,0.5);
	--brand-experiment-55a: rgba(88,101,242,0.55);
	--brand-experiment-60a: rgba(88,101,242,0.6);
	--brand-experiment-65a: rgba(88,101,242,0.65);
	--brand-experiment-70a: rgba(88,101,242,0.7);
	--brand-experiment-75a: rgba(88,101,242,0.75);
	--brand-experiment-80a: rgba(88,101,242,0.8);
	--brand-experiment-85a: rgba(88,101,242,0.85);
	--brand-experiment-90a: rgba(88,101,242,0.9);
	--brand-experiment-95a: rgba(88,101,242,0.95);
/*	--font-display: Ginto,"Helvetica Neue",Helvetica,Arial,sans-serif; */
	--control-brand-foreground: var(--control-brand-foreground-new);
}


.scrollableContainer-2NUZem {
	background-color: rgb(10, 10, 10);
}
.jumpToPresentBar-G1R9s6 {
	background-color: rgb(30, 30, 30);
}
.container-2fRDfG {
	background: rgb(30, 30, 30);
}
.theme-dark .footer-3mqk7D {
	background-color: rgb(30, 30, 30);
}
.theme-dark .uploadModal-2ifh8j {
	background-color: rgb(20, 20, 20);
}
.peopleList-3c4jOR{
  background-color: rgb(20, 20, 20);
}
.theme-dark .root-1gCeng {
	background-color: rgb(20, 20, 20);
}
.theme-dark .autocomplete-1vrmpx {
	background-color: rgb(30, 30, 30);
}
.theme-dark .selected-1Tbx07 {
	background-color: rgb(40, 40, 40);
}
.theme-dark .footer-1fjuF6 {
	border-color: rgb(30,30,30);
}
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
	background-color: rgb(30, 30, 30);
}
.theme-dark .headerNormal-T_seeN{
	background-color: rgb(30, 30, 30);
}
.headerPlaying-j0WQBV {
	background: var(--brand-experiment);
}
.activity-11LB_k{
	background-color: rgba(0,0,0,0.05) ;
}
.theme-dark .card-FDVird:before {
	background-color: rgb(40,40,40);
	border-color: rgb(50,50,50);
}
.ace-monokai .ace_gutter {
	background: rgb(40,40,40);
	color: rgb(150,150,150);
}
.contentRegion-3nDuYy #bd-customcss-attach-controls, #bd-customcss-detach-container #bd-customcss-attach-controls {
	background: rgb(40,40,40);
	color: #FFF;
	border: none;
	box-shadow: 0 1px 0 0 rgb(20,20,20) inset;
}
.ace_editor {
	width: 100%;
	background: rgb(50,50,50);
	outline: none;
	color: white;
	padding: 10px;
	resize: none;
}
.theme-dark .emojiAliasInput-1y-NBz .emojiInput-1aLNse {
	background-color: rgb(25, 25, 25);
}
.input-cIJ7To {
	border: 1px solid rgb(70, 70, 70);
}
.input-cIJ7To.focused-1mmYsC, .input-cIJ7To:focus{
	border-color: rgb(150,150,150)
}
.theme-dark .card-FDVird:before {
	background-color: rgb(35, 35, 35);
	border-color: rgb(50,50,50);
}
.resultsGroup-r_nuzN{
	background-color: rgb(30,30,30);
}
.standardSidebarView-3F1I7i #bd-customcss-attach-controls button, .bd-detached-css-editor #bd-customcss-attach-controls button {
	background: rgb(30,30,30);
}
.standardSidebarView-3F1I7i #bd-customcss-attach-controls button:hover, .bd-detached-css-editor #bd-customcss-attach-controls button:hover {
	background: rgb(50,50,50);
}
#bd-customcss-attach-controls .help-text .inline{
	background: rgb(25,25,25);
}
.theme-dark .searchAnswer-3Dz2-q, .theme-dark .searchFilter-2ESiM3 {
	background-color: rgb(30,30,30);
}
.theme-dark .option-96V44q.selected-rZcOL-{
	background-color: rgb(35,35,35);
}
.theme-dark .container-3ayLPN {
	 background-color: rgb(35,35,35);
}
.theme-dark .elevationBorderHigh-2WYJ09 {
	-webkit-box-shadow: 0 0 0 1px rgba(35,35,35,.6),0 2px 10px 0 rgba(0,0,0,.2);
	box-shadow: 0 0 0 1px rgb(50, 50, 50),0 2px 10px 0 rgb(50, 50, 50);
}
.theme-dark .option-96V44q::after {
	background: -webkit-gradient(linear,left top,right top,from(rgba(20,20,20)),color-stop(80%,rgb(30,30,30)));
	background: linear-gradient(90deg,rgb(30, 30, 30),rgb(35,35,35) 80%);
}
.theme-dark .option-96V44q.selected-rZcOL-::after {
	background: -webkit-gradient(linear,left top,right top,from(rgba(40,40,40)),color-stop(80%,rgb(30,30,30)));
	background: linear-gradient(90deg,rgb(40, 40, 40),rgb(50,50,50) 80%);
}
.theme-dark .option-96V44q.selected-rZcOL- {
	background-color: rgb(40,40,40);
}
.theme-dark .focused-2bY0OD {
	background-color: rgb(40,40,40);
}
.theme-dark .queryContainer-RKFJW-{
	color: rgb(170,170,170);
	border-bottom-color: rgb(,0,0);
}
.theme-dark .resultsGroup-r_nuzN::before {
	border-top: 1px solid rgb(50, 50, 50);
}
.emojiSection-3Fb9ix {
	background-color: rgb(10,10,10);
}
.guildSection-1EoFKd {
	background-color: rgb(15,15,15);
}
.friendsEmpty-1K9B4k {
	background: rgb(20,20,20);
}
.theme-dark .container-1If-HZ, .theme-dark .reactors-Blmlhw {
	background-color: rgb(20,20,20);
}
.theme-dark .scroller-1-nKid {
	background: rgb(15,15,15);
}
.theme-dark .inset-3sAvek {
	background-color: rgb(20,20,20);
}
.theme-dark .outer-1AjyKL.active-1xchHY, .theme-dark .outer-1AjyKL.interactive-3B9GmY:hover {
	background-color: rgb(35,35,35);
}
.theme-dark .root-1gCeng {
	/* background-color: #36393f; */
	/* -webkit-box-shadow: 0 0 0 1px rgba(32,34,37,.6), 0 2px 10px 0 rgba(0,0,0,.2); */
	box-shadow: 0 0 0 1px rgb(25, 25, 25), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

/*.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9 {
	color: #fff;
	background-color: rgb(100,30,255);
}*/
/*.lookFilled-1Gx00P.colorBrand-3pXr91 {
	color: #fff;
	background-color: rgb(100,30,255);
}*/
.markup-2BOw-j code.inline {
	font-family: "Noto mono";
	/*border: 1px solid rgb(100, 100, 100);*/
}
.markup-2BOw-j code {
	background: rgb(0, 0, 0);
	border: 1px solid rgb(69, 69, 69);
}
.wrapper-1cBijl {
	border: 1px solid rgba(0, 0, 0, 0.3);
	background-color: rgba(0, 0, 0, 0.1);
}
.addInputWrapper-1BOZ3d {
	background-color: rgb(20, 20, 20);
}
.theme-dark .sectionHeader-20RGqu {
	border-bottom: 1px solid rgb(30, 30, 30);
}
/*Roles/Members tab*/
.theme-dark .autocompleteArrow-Zxoy9H, .theme-dark .header-2bNvm4 {
	background-color: rgb(20, 20, 20);
	color: rgb(169, 169, 169);
}
.container-VSDcQc .headerText-3i6A8K {
	color: rgb(169, 169, 169);
}
.theme-dark .container-VSDcQc .input-1ppKdn {
	color: rgb(100, 100, 100);
}
.theme-dark .container-VSDcQc .input-1ppKdn::placeholder {
	color: rgb(100, 100, 100);
}
.theme-dark .container-VSDcQc .sectionTag-pXyto9 {
	background-color: rgb(30, 30, 30);
	color: rgb(169, 169, 169);
}
.row-rrHHJU.selected-1pIgLL .rowInner-1vvRiF{
	background-color: rgb(50,50,50);
	color: rgb(255,255,255);
}
.theme-dark .elevationHigh-1PneE4 {
	background-color: rgba(30, 30, 30, 0.9) !important;
}
.videoWrapper-2v09vt{
	background-color: rgb(15, 15, 15);
}
.theme-dark.authBox-hW6HRx{
	color: rgb(15, 15, 15);
	background: rgb(30, 30, 30);
}
.theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected{
	background-color: var(--background-modifier-selected);
	color: rgb(255,255,255);
}
.theme-dark .footer-2gL1pp {
	background-color: rgba(30, 30, 30);
}
.theme-dark .bd-addon-list .bd-addon-card {
	background-color: rgba(30, 30, 30, 0.6);
	color: rgb(255, 255, 255);
	border-color: rgb(35, 35, 35);
}
.scrollbarGhostHairline-1mSOM1::-webkit-scrollbar-thumb {
	background-color: rgb(69, 69, 69);
	cursor: normal;
}
.name-uJV0GL {
	line-height: 24px;
}
.headerTag-2pZJzA {
	line-height: 21px;
}

.theme-dark .perksModal-fSYqOq {
	background-color: rgb(20,20,20);
}
.theme-dark .tierHeaderLocked-1s2JJz{
 	background-color: rgb(10,10,10);
}
.theme-dark .tierBody-16Chc9{
	background-color: rgb(15,15,15);
}
.theme-dark .tierMarkerBackground-3q29am{
	background-color: rgb(20,20,20);
}
.theme-dark .barBackground-2EEiLw{
	background-color: rgb(10,10,10);
}
.tierMarkerAccomplished-2MiXeg, .tierMarkerInProgress-24LMzJ{
	background-color: rgb(15,15,15) !important;
}
.theme-dark .perk-2WeBWW{
	background-color: rgb(25,25,25);
}
img::selection{
	background: rgba(255, 255, 255, 0.15) !important;
}
::selection{
	background: rgba(255, 255, 255, 0.15) !important;
/*	background: rgba(128, 0, 255, 0.65) !important; */ /*purple*/
/*	color: white !important; */
}

/* text formating helper plugin */

.bf-toolbar::before{
	background: rgb(0,0,0) !important;
}
.toolbar-2bjZV7{
	background-color: rgb(0,0,0);
	display: var(--text_formatinghelper_variable_display_none_or_flex);
}
.active-2HPddW, .hover-28QbSq:hover{
	background-color: rgb(30,30,30);
}
.toolbar-2bjZV7::before{
	border-left: 8px solid rgba(0,0,0,0);
	border-right: 8px solid rgba(0,0,0,0);
	border-top: 8px solid rgba(0,0,0,1);
}
/* End of text formating helper */
/* User Card */
.userPopout-3XzG_A{
	width: 320 !important;
}
.tierBody-x9kBBp{
	background-color: rgb(25,25,25) !important;
	color: rgb(255,255,255) !important;
}
.tierHeaderContent-2-YfvN{
	background-color: rgba(0,0,0,0) !important;
	color: rgb(255,255,255) !important;
}
.tierHeaderUnlockedBackground-MW5XJU, .theme-light .tierHeaderUnlockedBackground-MW5XJU{
	background-image: -webkit-gradient(linear,left top,right top,from(#3e70dd),to(#b377f3)) !important;
	background-image: linear-gradient(90deg,#3e70dd,#b377f3) !important;
	z-index: 0;
}
.tierHeaderLocked-1a2opw{
	background-color: rgb(0,0,0) !important;
}


/* Filled color Roles */

#app-mount .role-2irmRk {
	position: relative;
	overflow: hidden;
	z-index: 1;
/* 	padding: 5px; */
}

.role-2irmRk {
	border: 2px solid;
}

.roleCircle-3xAZ1j::after {
	content: '';
	position: absolute;
	background: inherit;
	z-index: -1;
	width: 100%;
	height: 100%;
	left: 0;
	opacity: 0.15;
}


/* Mic Test Settings */

.theme-dark .notches-1sAcEM.gray-3_LNYR {
	background-image: url("data: image/svg+xml;charset=utf-8,%3Csvg xmlns='http: //www.w3.org/2000/svg' width='8' height='20' fill='rgb(20,20,20)' %3E%3Cpath fill-rule='evenodd' d='M0 0h8v20H0V0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z'/%3E%3C/svg%3E");
														   /* <svg xmlns='http: //www.w3.org/2000/svg' width='8' height='20' fill='rgb(20,20,20)'>	 <path fill-rule='evenodd' d='M0 0h8v20H0V0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z'/>	</svg> */
}
.theme-dark .progress-1IcQ3A {
	background-color: rgb(69,69,69);
}
.css-gvi9bl-control {
	border-color: rgba(40, 40, 40, 0.5);
}

/* Video Settings */

.theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {
	background-color: rgba(20,20,20);
	border-color: rgb(10,10,10);
}

/* OPUS Audio Codec Card Settings */

.cardPrimary-1Hv-to {
	background: rgb(15,15,15);
	border-color: rgb(0,0,0);
}

/* Selection Menus */

/* Main */
.css-3vaxre-menu {
	top: 100%;
	background-color: rgb(15,15,15);
	box-shadow: rgba(0,0,0,0.5) 0px 1px 5px 0px;
	margin-bottom: -1px;
	margin-top: -1px;
	position: absolute;
	width: 100%;
	z-index: 1;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	border-radius: 0px 0px 4px 4px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(0,0,0);
	border-image: initial;
}
/* Unselected / No hover */
.css-1yz4bi9-option {
	background-color: transparent;
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: flex;
	font-size: inherit;
	width: 100%;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
	-webkit-box-align: center;
	align-items: center;
	min-height: 40px;
	padding: 8px 12px;
}
/* Hover */
.css-rzbxvl-option {
	background-color: rgba(0, 0, 0, 0.1);
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: flex;
	font-size: inherit;
	width: 100%;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
	-webkit-box-align: center;
	align-items: center;
	min-height: 40px;
	padding: 8px 12px;
}
/* Selected */
.css-1ba14n5-option {
	background-color: rgba(0, 0, 0, 0.2);
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: flex;
	font-size: inherit;
	width: 100%;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
	-webkit-box-align: center;
	align-items: center;
	min-height: 40px;
	padding: 8px 12px;
}

/* Server Member Overflow role list */
.theme-dark .overflowRolesPopout-140n9i, .theme-dark .overflowRolesPopoutArrow-2O66oH {
	background-color: rgb(20,20,20);
/* 	-webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.2), 0 0 0 1px rgba(32,34,37,.6); */
	box-shadow: 0 2px 10px 0 rgba(0,0,0,.2), 0 0 0 1px rgba(15,15,15,.6);
}

/* Game Activity */

/* Current Game */
/*.theme-dark .notDetected-33MY4s, .theme-light .notDetected-33MY4s {
	background-color: rgb(69,69,69);
}*/

/* Game Names */
/*.theme-dark .gameNameInput-385LoS:focus, .theme-dark .gameNameInput-385LoS:hover {
	border-color: rgb(0,0,0);
	background-color: rgb(30,30,30);
}*/

/* On off Switches */
.container-3auIfb[style*="background-color: rgb(67, 181, 129);"] {
	background-color: rgb(50,200,100) !important;
}
.container-3auIfb[style*="background-color: rgb(114, 118, 125);"] {
	background-color: rgb(69,69,69) !important;
}

.bd-switch input: checked+.bd-switch-body {
	--switch-color: rgb(50,200,100);
}
.bd-switch-body {
	--switch-color: rgb(69,69,69);
}
/* Some Buttons */

.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV {
	color: rgb(255,255,255);
	background-color: rgb(69,69,69);
}
.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV: active {
	background-color: rgb(40,40,40);
}
.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV:hover {
	background-color: rgb(100,100,100);
}

/* Transaction History box for "Psst! Looking to redeem a Discord key? We've moved it to your inventory." */
.theme-dark .codeRedemptionRedirect-1wVR4b {
	color: rgb(255,255,255);
	background-color: rgb(30,30,30);
	border-color: rgb(0,0,0);
}

/* Installed Button too light for white */
.button-coQXfM {
	color: rgb(0,0,0);
	text-shadow: 0 0 5px rgb(0,0,0);
}

/* Reaction */
.reaction-1hd86g {
	background: rgba(45,45,45,0.5);
	border: 2px solid transparent;
}
.reaction-1hd86g:hover {
	background-color: rgba(30,30,30,0.1);
	border-color: rgb(95,95,95);
}
.reaction-1hd86g.reactionMe-wv5HKu {
	background-color: rgba(90,100,240,0.15);	/* rgb(88,101,242,0.15) */
	border-color: rgb(90,100,240);				/* rgb(88,101,242); */
}

.container-2ax-kl {
	font-family: "Noto Sans";
}
.base-1x0h_U {
	font-family: "Noto Sans";
}

/* Ping Block */
.theme-dark .container-2x5lvQ section {
	background-color: rgb(30,30,30);
}
.theme-dark .container-2x5lvQ .header-2C89wJ {
	background-color: rgb(20,20,20);
}
/* Stream Preview */
.theme-dark .streamPreview-2-WUWT {
	background-color: rgb(30,30,30);
}
.theme-dark .message-2qRu38 {
	background-color: rgb(25,25,25);
	-webkit-box-shadow: 0 0 0 1px rgba(32,34,37,.6), 0 2px 10px 0 rgba(0,0,0,.2);
	box-shadow: 0 0 0 1px rgba(32,34,37,.6), 0 2px 10px 0 rgba(0,0,0,.2);
}
/* Remove Public server under discord logo */
#bd-pub-li {
	display: var(--public_server_bd_variable_display_none_or_flex);
}
/* Button repositionning */
/* server menu */
.toolsContainer-1edPuj {
	position: absolute;
	right: 200px;
}
/* channel desc */
.wrapper-1sSZUt {
	width: 91%;
}

/* Audit Log */
.theme-dark .auditLog-3jNbM6 {
	color: rgb(120,120,120);
	border-color: rgb(35,35,35);
}
.theme-dark .headerClickable-2IVFo9, .theme-dark .headerDefault-1wrJcN {
	background-color: rgba(30,30,30,.3);
	color: rgb(190,190,190);
}
.theme-dark .headerExpanded-CUEwZ5 {
	background-color: rgba(30,30,30,.6);
	color: rgb(190,190,190);
}
.theme-dark .divider-1pnAR2 {
	background-color: rgb(35,35,35);
}
.theme-dark .changeDetails-bk98pu {
	background-color: rgba(30,30,30,.3);
}

/* Integration containers */
.cardPrimaryEditable-3KtE4g {
	background: rgba(35,35,35,0.3);
}
/* Code block */
/*
.hljs {
	background-color: rgb(30,30,30) !important;
	color: rgb(150,150,150);
	position: relative;
}*/
/* Bar above ppl in friend list */
.peopleColumn-29fq28 {
	background-color: rgb(20, 20, 20);
}

/* Profile Card */
.userPopout-3XzG_A {
	width: 320px !important;
	background-color: rgb(25,25,25);
}
.activity-3v9l4T {
	position: relative;
	padding: 16px;
	border-bottom: 1px solid rgba(0,0,0,0.5);
	border-top: 1px solid rgba(0,0,0,0.5);
	background-color: rgba(100,100,100,0.05);
}
.activity-3v9l4T:hover {
	background-color: rgba(100,100,100,0.1);
}
.headerNormal-1l1Znk {
	background-color: rgba(0,0,0,0);
}
/* dead code .headerTop-2y3V6H {	background-color: rgba(0,0,0,0);	border-bottom: 0;	padding: 80px 16px 16px !important;}*/
.headerTop-2cWpdB {
	background-color: rgba(0,0,0,0);
	border-bottom: 0;
	padding: 80px 16px 16px !important;
}
.avatar-37jOim {
	border: 6px solid rgb(25,25,25);
	background-color: rgb(25,25,25);
	width: 128px !important;
	height: 128px !important;
}
.popoutBanner-19WKGg {
    height: 86px;
}
.avatarHint-2A3RNb {
	width: 128px !important;
	height: 128px !important;
}
.avatarPositionNormal-1CZUPk {
	top: 16px;
	left: 16px;
}
.avatarPositionPremium-1QenYe {
	top: 100px;
}
.profileBannerPremium-35utuo {
	margin: 10px;
	margin-bottom: 30px;
/* 	left: 50%; */
/* 	transform: translate(-50% ,0); */
	background-color: rgb(0,0,0);
}
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
	background-color: rgba(0,0,0,0);
}
.input-cIJ7To {
	border: 2px solid rgb(15, 15, 15);
}
.input-cIJ7To:hover {
	border-color: rgb(35,35,35);
}
.input-cIJ7To.focused-1mmYsC, .input-cIJ7To:focus {
	border-color: rgb(45,45,45);
}
.input-2_SIlA {
	font-size: 14px;
	background-color: rgba(0,0,0,0);
}
.note-3HfJZ5 {
	margin-left: 0;
	margin-right: 0;
	background-color: rgba(0,0,0,0);
}
.textarea-2r0oV8:focus {
	background-color: rgba(0,0,0,0);
}
/* role */
.theme-dark .actionButton-VzECiy {
	border-color: rgba(100,100,100,0.8);
	color: rgb(255,255,255);
	background: transparent;
}
.addButton-pcyyf6 {
	padding: 0 4px;
}
/* name overflow */
.headerTagNoNickname-3ak9o8 {
	line-height: 1.5;
}
.nameTag-m8r81H {
	line-height: 1.5;
}
/* Invite box */
.theme-dark .contentWrapper-3WC1ID {
	background: rgb(30,30,30);
}

/* Server Creation Popout */
.container-1CE3eW {
	width: 440px;
	max-height: 580px;
	background-color: rgb(20,20,20);
}
.header-3msK0M {
	padding: 24px 16px 2px;
	background
}

/* Text */
.title-3w8xhj {
	color: rgb(222,222,222);
}

.colorHeaderSecondary-3Sp3Ft {
	color: rgb(169,169,169);
}
/* Buttons */
.container-UC8Ug1 {
	border: 1px solid rgb(35,35,35);
	background-color: rgb(25,25,25);
}
.container-UC8Ug1:hover {
	background-color: rgb(15,15,15);
}
.colorStandard-2KCXvj {
	color: rgb(200,200,200);
}
/* arrow */
.arrow-hynWUl {
	filter: invert(38%) sepia(14%) saturate(0%) hue-rotate(182deg) brightness(91%) contrast(78%);
}
/* footer */
.theme-dark .footer-2gL1pp {
	background-color: rgb(20,20,20);
	-webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0);
	box-shadow: inset 0 0 0 rgba(0,0,0,0);
}
.footerTitle-2CYZch {
	color: rgb(222,222,222);
}
/* close button */
.close-hZ94c6 {
	color: rgb(222,222,222);
	opacity: 0.8;
}
.close-hZ94c6:hover {
	opacity: 1;
	color: rgb(111,111,111);
}
.templatesList-2E6rTe{
	border: solid rgb(35,35,35);
	border-width: 1px 0 1px 0;
	border-radius: 0 0 0 0;
	padding: 8px 8px 8px 16px;
}
/* tell us more about your server blahblah */
.header-1BLHoL {
	padding: 24px 16px 2px;
}
.title-LqAd9K {
	color: rgb(222,222,222);
}
.backButton-iA7KIs {
	color: rgb(255,255,255); 
}
/* customize your server */
.header-287ONi {
	padding: 24px 16px 2px;
}
.title-Z_XiOC {
	color: rgb(222,222,222);
}
/* backbutton????? */
.sizeMin-1mJd1x {
	color: rgb(255,255,255); 
}
/* server name placeholder */
.theme-light ::placeholder, .theme-light input, .theme-light select, .theme-light textarea {
	color: rgb(222,222,222);
}
.input-cIJ7To {
	background-color: rgba(0,0,0,0);
}

/* guidelines */
.guidelines-1NSoht {
	color: rgb(111,111,111);
}

/* embed */
.embedFull-2tM8-- {
    border-left: 4px solid rgb(10,10,10);
    background: rgb(25,25,25);
}


/* transparency settings 
.layer-3QrUeG.baseLayer-35bLyl {
	background-color: transparent;
}
/*  */

.container-JHR0NT {
	display: var(--var_sticker_button_none_or_block) !important ;
}
.stickerButton-3OEgwj {
    display: var(--var_sticker_button_none_or_block) !important ;
}
/* beta feature about me */
.aboutMeSection---MkQa {
    padding: 5px;
    background-color: var(--background-floating);
}
/* join a server codes */
.input--jS-j2 {
    background-color: rgb(20,20,20);
}
.base-1x0h_U {
    color: rgb(222,222,222);
}
.sampleLink-2NLvZg {
    color: rgb(169,169,169);
}
.theme-dark .lookLink-9FtZy-.colorPrimary-3b3xI6 {
    color: rgb(255,255,255);
}
